* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  font-size: 2rem;
  padding: 1em;
  background-color: blanchedalmond;
}

.navbar__logo {
  color: green;
  margin-right: 0.5rem;
}

.navbar__count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2rem;
  background-color: green;
  color: #fff;
  border-radius: 50%;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
  display: flex;
  align-items: center;
}

.habit__count {
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.3rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: #fff;
  border-radius: 50%;
}

.habit__btn {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit__btn:hover {
  opacity: 0.8;
}

.habit--increase,
.habit--decrease {
  color: goldenrod;
}

.habit--delete {
  color: brown;
}

.reset__btn {
  background-color: green;
  color: #fff;
  line-height: 50px;
  height: 50px;
  width: 250px;
  margin-top: 45px;
  font-size: 2rem;
}
